
<!--
  Name: Kyle Galway 
  Email: galwayk@sheridancollege.ca
  Date: July 26th, 2023
  Description: This is the main HTML file that acts as the view for the application.
-->


<div class = "assignment-3-body"> 
  <header class = assignment-3-header> 
    <h1> Assignment Three </h1>
  </header>

  <main class = "assignment-3-main"> 
    <h2 class="main-header"> Inches to <span> {{ txtCurrentUnit }} </span> Converter </h2>
    <section class = main-converter>

      <span class = inputs>
        <label for = txtInches></label> Inches <input type = "text" name = txtInches [(ngModel)]="txtInches" (ngModelChange)="handleInchesUpdated()" /> 

      <span class = seperator> 
        &#8644;
      </span>

        <input type = "number" name = numCentimeters [(ngModel)]="numMetric" (ngModelChange)="handleCentimetersUpdated()" /> 
        
        <label for = numCentimeters> {{txtCurrentUnit}} </label> 

      </span>
      <fieldset class = options>
        <legend> Options </legend>
        <p class = option><span> Metric Unit: </span> <select [(ngModel)]="numCurrentMetric" (ngModelChange)="handleMetricUnitChanged()">
          <option value = 0> Millimeters </option>
          <option value = 1> Centimeters </option>
          <option value = 2> Meters </option>
        </select></p>
        <p class = option><span> Use Fractions:  </span><input type = checkbox [(ngModel)]="isFraction" (ngModelChange)="handleCentimetersUpdated()"/></p>
        <div *ngIf="isFraction"> 
        <p class = option><span> Simplified: </span><input type = checkbox [(ngModel)]="isSimplified" (ngModelChange)="handleCentimetersUpdated()"/></p>
        <p class = option> <span> Base: </span>
          <select [(ngModel)]="baseNumber" (ngModelChange)="handleBaseNumberChanged()"> 
            <option value = 2> 2 </option>
            <option value = 4> 4 </option>
            <option value = 8> 8 </option>
            <option value = 16> 16 </option>
            <option value = 32> 32 </option>
            <option value = 64> 64 </option>
          </select>
        </p>
      </div>
      </fieldset>
      <aside class = "message-container"></aside>
    </section>
    

    <aside class = conversion-chart>
      <table class = "conversion-table"> 
        <tr> 
          <th> Fraction (in) </th>
          <th> Decimal (in) </th>
          <th> Metric ({{txtCurrentShort}}) </th>
        </tr>
        <tr *ngFor="let tableData of arrTableData"> 
          <td> {{tableData.fraction}} </td>
          <td> {{tableData.decimal}} </td>
          <td> {{tableData.metric}} </td>
        </tr>
      </table>
  </aside>
  </main>

  <footer class = "assignment-3-footer">
    <h2> By Kyle Galway </h2>
  </footer>
</div>

