<div class = "footer-flex"> 
    <p> Connect with Me Below! </p>
    <nav class = "footer-links"> 
        <a href = "https://twitter.com/EasternEagle7"><img class = "icon" src = 
            "../images/icon-twitter.svg" alt = "An icon for Twitter."></a>
        <a href = "https://github.com/GalwayK"><img class = "icon" src = 
            "../images/icon-github.svg" alt = "An icon for Github."></a>
        <a href = "https://www.linkedin.com/in/kylegalway/"><img class = "icon" src = 
            "../images/icon-linkedin.svg" alt = "An icon for LinkedIn."></a>
    </nav>
    <p class = "copyright"> &copy 2023 Kyle Galway </p>
</div>