<!--
File: header.html
Student: Kyle Galway 
Student Number: 991418738
Description: This template contains the content for the header of the site.
It is loaded dynamically into all of the three main pages. This templates uses 
JS to lightly dim the sibling links when a link is hover over.
-->

<div class = "header-flex">
    <h1 class = "header-name"> Kyle Galway </h1>
    <nav class = "header-links">

        <btn class = "header-button"><a href = "." class = "header-link"> About </a></btn>

        <btn class = "header-button"><a href = "projects.html" class = 
            "header-link"> Projects </a></btn>
            
        <btn class = "header-button"><a href = "contact.html" class = "header-link"> Contact  </a>
            </btn>
    </nav>
    
</div>