<!--
File: header.html
Student: Kyle Galway 
Student Number: 991418738
Description: This template contains the content for the sidebar portion of the site.
It is loaded dynamically into all of the three main pages.
-->

<div class = "sidebar-flex"> 
    <img src = "../images/kyle_galway.png" alt = "An image of this site's owner,
     Kyle Galway" class = "img-oh-look-it-is-me">
    <h2 class = "sidebar-header"> Kyle Galway </h2>
    <p class = "sidebar-email"><a href = "mailto: kyligalway@gmail.com"> kyligalway@gmail.com </a></p>
    <blockquote class = "sidebar-quotation"> "In a world filled with misery and uncertainty, it is 
        great comfort to know that, in the end, there is light in the 
        darkness." </blockquote>
</div>