/* You can add global styles to this file, and also import other style files */

* 
{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer, header 
{
    background-color: #9FFF9F;
}